<h1>Lista de vagas para desenvolvedores</h1>
<div class="table-content">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Requisitos Obrigatorios</th>
        <th>Requisitos Desejaveis</th>
        <th>Local de Trabalho</th>
        <th>Beneficios</th>
        <th>Remuneração</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vaga of vagas">
        <td>{{vaga.id}}</td>
        <td>{{vaga.descricao}}</td>
        <td>{{vaga.reqObrigatorios}}</td>
        <td>{{vaga.reqDesejaveis}}</td>
        <td>{{vaga.localTrabalho}}</td>
        <td>{{vaga.beneficios}}</td>
        <td>R{{vaga.remuneracao| currency}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="btn-vagas">
  <a routerLink="/" role="button">Voltar para a página principal</a>
</div>
