div.banner {
 display: flex;
 justify-content: center;
 margin-top: 20px;
}

div.banner > img {
  margin: auto;
  border-radius: 10px;
}

div.btn-vagas {
  background-color: #464646;
  width: 200px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  margin-top: 40px
}

div.btn-vagas > a {
  text-decoration: none;
  color: #fff;
}
